<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.id }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content}}
    <code id="idigbio-meta" style="white-space: pre-line; white-space: pre-wrap;"></code>
  </body>

  <script>
    var obj = JSON.parse(decodeURIComponent("{{ page.idigbio | jsonify | uri_escape }}"));
    var pretty_json = JSON.stringify(obj, null, 2);  // Pretty-printed JSON (indented 4 spaces).
    document.getElementById("idigbio-meta").textContent = pretty_json;
  </script>

</html>
